version: 2.1

defaults: &defaults
  docker:
    - image: circleci/node:12-browsers
  working_directory: ~/axe-core-npm

commands:
  configure_npm:
    description: 'Configure the npm client'
    steps:
      - run: npm config set "//registry.npmjs.org/:_authToken" $NPM_AUTH

  restore_dependency_cache:
    description: 'Restore the dependency cache'
    steps:
      - restore_cache:
          keys:
            - v1-npm-cache-{{ .Environment.CIRCLE_SHA1 }}

jobs:
  dependencies:
    <<: *defaults
    steps:
      - checkout
      - configure_npm
      - restore_cache:
          keys:
            - v1-root-npm-{{ checksum "package-lock.json" }}
      - restore_cache:
          keys:
            - v1-cli-npm-{{ checksum "packages/cli/package-lock.json" }}
      - restore_cache:
          keys:
            - v1-puppeteer-npm-{{ checksum "packages/puppeteer/package-lock.json" }}
      - restore_cache:
          keys:
            - v1-webdriverjs-npm-{{ checksum "packages/webdriverjs/package-lock.json" }}
      - restore_cache:
          keys:
            - v1-webdriverio-npm-{{ checksum "packages/webdriverio/package-lock.json" }}
      - run: npm ci
      - save_cache:
          key: v1-root-npm-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run: npm run bootstrap
      - save_cache:
          key: v1-cli-npm-{{ checksum "packages/cli/package-lock.json" }}
          paths:
            - packages/cli/node_modules
      - save_cache:
          key: v1-puppeteer-npm-{{ checksum "packages/puppeteer/package-lock.json" }}
          paths:
            - packages/puppeteer/node_modules
      - save_cache:
          key: v1-webdriverjs-npm-{{ checksum "packages/webdriverjs/package-lock.json" }}
          paths:
            - packages/webdriverjs/node_modules
      - save_cache:
          key: v1-webdriverio-npm-{{ checksum "packages/webdriverio/package-lock.json" }}
          paths:
            - packages/webdriverio/node_modules
      - save_cache:
          key: v1-npm-cache-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - node_modules
            - packages/cli/node_modules
            - packages/puppeteer/node_modules
            - packages/webdriverjs/node_modules
            - packages/webdriverio/node_modules

  lint:
    <<: *defaults
    steps:
      - checkout
      - restore_dependency_cache
      - run: npm run lint

  cli:
    <<: *defaults
    steps:
      - checkout
      - restore_dependency_cache
      - run: npm run test --prefix=packages/cli

  puppeteer:
    <<: *defaults
    steps:
      - checkout
      - restore_dependency_cache
      - run: npm run build --prefix=packages/puppeteer
      - run: npm run coverage --prefix=packages/puppeteer

  webdriverjs:
      <<: *defaults
      steps: 
        - checkout
        - restore_dependency_cache
        - run: npm run test --prefix=packages/webdriverjs

  canary_release:
    <<: *defaults
    steps:
      - checkout
      - configure_npm
      - restore_dependency_cache
      - run: npx jfrog rt config --interactive=false --apikey=$ARTIFACTORY_API_KEY_PUBLIC --url=https://agora.dequecloud.com/artifactory
      - run: npm whoami
      - run: git diff --quiet || echo 'Working tree has been changed'
      - run: git diff --stat
      # Make sure the working tree is clean
      - run: git reset --hard HEAD
      - run: >-
          npx lerna publish \
            --no-verify-access \
            --no-git-tag-version \
            --no-push \
            --npm-tag=next \
            --exact \
            --cd-version=prerelease \
            --preid=${CIRCLE_SHA1:0:8} \
            --force-publish \
            --yes

  production_release:
    <<: *defaults
    steps:
      - checkout
      - configure_npm
      - restore_dependency_cache
      - run: npx jfrog rt config --interactive=false --apikey=$ARTIFACTORY_API_KEY_PUBLIC --url=https://agora.dequecloud.com/artifactory
      - run: npm whoami
      - run: git diff --quiet || echo 'Working tree has been changed'
      - run: git diff --stat
      # Make sure the working tree is clean
      - run: git reset --hard HEAD
      - run: >-
          npx lerna publish from-package \
            --no-verify-access \
            --no-git-tag-version \
            --no-push \
            --yes

  webdriverio:
    <<: *defaults
    steps: 
      - checkout
      - restore_dependency_cache
      - run: npm run test --prefix=packages/webdriverio

workflows:
  version: 2
  build_and_test:
    jobs:
      - dependencies
      - lint:
          requires:
            - dependencies
      - cli:
          requires:
            - lint
      - puppeteer:
          requires:
            - lint
      - webdriverjs:
          requires:
            - lint
      - webdriverio:
          requires:
            - lint
      - canary_release:
          context: html-tools
          requires:
            - dependencies
            - lint
            - cli
            - puppeteer
            - webdriverjs
            - webdriverio
            - reporter-earl
          filters:
            branches:
              only: develop
      - production_release:
          context: html-tools
          requires:
            - dependencies
            - lint
            - cli
            - puppeteer
            - webdriverjs
            - webdriverio
            - reporter-earl
          filters:
            branches:
              only: master
